[user]
	email = ruskageek@yandex.ru
	name = Ruslik
[safe]
	directory = /hone/ruslik/i05
	directory = /hone/ruslik/i05
	directory = /hone/ruslik/i05
	directory = /hone/ruslik/i05
	directory = /hone/ruslik/i05
	directory = /hone/ruslik/i05
	directory = /hone/ruslik/i05
	directory = /hone/ruslik/i05
	directory = /hone/ruslik/i05
	directory = /home/ruslik
